@page
@model Proiect.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Reviews";
    var isAdmin = User.Identity?.Name != null && 
                  User.Identity.Name.Contains("ralucaAdmin", StringComparison.OrdinalIgnoreCase);
}

<h1>Reviews</h1>

@if (!isAdmin)
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New Review</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
            @if (isAdmin)
    {
        @* Adminul vede doar Details și Delete *@
        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> @:|
        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
    }
    else
    {
        @* Clientul vede DOAR Details *@
        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
    }
        </td>
        </tr>
}
    </tbody>
</table>
